<nav class="navbar navbar-expand-lg  bg-dark navbar-dark border" >
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">Cult Fit</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
         <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="/">Home</a>
        </li>
      <% if user_signed_in? %>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/trainers/index">Trainer</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/index">profile</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/edit">edit</a>
        </li>
          <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link active" %>
        </li>
         
       <% else %>
       <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/sign_up">sign_up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/sign_in">logg_in</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="/admin">Admin</a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>