<div class="container p-5">
  <div class="row ">
    <% @gym.each do |gym| %>

      <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
          <div class="col-md-4 img-fluid">
            <% if gym.images.persisted? %>
              <%= image_tag(gym.images, width: "100%" , height: "100%" ) %>
                <% else %>
                  <h4>Image not found</h4>
                  <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= gym.name%></h5>
              <p class="card-text"> <%=gym.discription%></p>
              <p class="card-text">
                
                <%= link_to "Explore Gym" , gym_path(gym),class:"button_membership btn btn-lg btn-success text-white"  %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>