<% if @gymclass.images.attached? %>
<%= image_tag url_for(@gymclass.images), width: "50%", height: "40%", class: "gym_class_image" %>
  <% if @gymclass.video.attached? %>
    <%= video_tag url_for(@gymclass.video), width: "100%", height: "100%" %>
  <% else %>
    <h3>Video is not present</h3>
  <% end %>
<% else %>
  <h3>Image is not present</h3>
<% end %>