<div>
  <p>
   <strong>photos:</strong>
   <%if @gym_class.images.persisted? %>
   <%= image_tag(@gym_class.images,:width => "20%",:height => "10%")%>
   <% else %>
   <h4>image not found</h4>
   <%end%>
  </p>

  <p>
   <strong>Name:</strong>
   <%=@gym_class.name %>
  </p>

  <p>
   <strong>description:</strong>
   <%= @gym_class.description %>
  </p>
  <p>
   <strong>time:</strong>
   <%= "#{@gym_class.start_time.strftime('%I:%M %p')} - #{@gym_class.end_time.strftime('%I:%M %p')}"  %>
  </p>  
</div>
